{% extends 'global/base.html' %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            {{ contato.first_name }} {{ contato.last_name }}
        </h1>

        <p><b>ID:</b> {{ contato.id }}</p>
        <p><b>E-mail:</b> {{ contato.email }}</p>
        <p><b>Phone:</b> {{ contato.phone }}</p>
        <p><b>Created Date:</b> {{ contato.created_date }}</p>
        <p><b>Description:</b> {{ contato.description }}</p>
        <p><b>Category</b> {{ contato.category }}</p> 

        {% if contato.picture  %}
            <p>
                <img src="{{ contato.picture.url }}" alt="{{ contato.first_name }} {{ contato.last_name }}">
            </p>
        {% endif %}

        <div class="contact-links">
            <a class="btn btn-link" href="{% url 'contato:update' contato.id %}">Update</a>

            <form action="{% url 'contato:delete' contato.id %}" method="POST">

                {% csrf_token %}

                {% if confirmation == 'no' %}
                    <input type="hidden" name="confirmation" value="yes">
                    <button class="btn btn-link btn-delete" type="submit">Confirma?</button>
                {% else %}
                    <button class="btn btn-link btn-delete" type="submit">Delete</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock content %}